# Core functionality - changes here should be rare!
/src/app.py                   @JaydenLims
/src/backend/database.py      @JaydenLims
/src/backend/routers/auth.py  @JaydenLims

# The frontend will need refactored soon to be more object oriented.
/src/static/   @JaydenLims
